body {
  background: #f6f6f6;
  margin: 0;
}

#frame {
  display: flex;
  height: 100vh;
  width: 100%;
}

.view {
  flex: 1 1;
}

#source {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-family: monospace;
  outline: none;
  padding: 0.5em;
  padding-right: 0;
  resize: none;
  white-space: nowrap;
}

#preview {
  background: #fff;
  box-shadow: 0 0 5px #999;
  overflow: auto;
  margin: 0.5em;
  margin-left: 0;
  flex: 1.618;
}

.--app-err {
  color: #900;
}
